@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 5.5em;
  margin-left: 4em;
  line-height: 1%;
  /* min-height: 100vh; */
  justify-content: center;
  align-items: center;
}
main {
  width: 1440px;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  height: 100px;
}

.img {
  margin: 0 5px;
  padding: 0 0 1;
  padding: 0 30px 16px 0;
}
.flex-box1 {
  min-height: 25rem;
  width: 270px;
  background-color: hsl(31, 77%, 52%);
  padding: 48px;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.flex-box2 {
  min-height: 25rem;
  width: 270px;
  background-color: hsl(184, 100%, 22%);
  padding: 48px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.flex-box3 {
  min-height: 25rem;
  width: 270px;
  background-color: hsl(179, 100%, 13%);
  padding: 48px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.head-text {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  padding: 16px 100px 16px 0;
  color: hsl(0, 0%, 95%);
  position: absolute;
}
.sub-text {
  font-weight: 400;
  font-size: 10pt;
  line-height: 1.5em;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 60px 0px 80px 0;
  text-align: left;
  justify-content: left;
  text-align: left;
  position: absolute;
}
button {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin-top: 200px;
  padding: 0.9em;
  border-radius: 20px;
  width: 10em;
  border: 0 solid;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: auto;
}
button.btn1 {
  color: hsl(31, 77%, 52%);
}
button.btn2 {
  color: hsl(184, 100%, 22%);
}
button.btn3 {
  color: hsl(179, 100%, 13%);
}
button:hover {
  color: hsl(0, 0%, 100%);
  border: 1 solid white;
  background-color: unset;
  transition: 10s;
}
